{#{% extends '@SyliusAdmin/shared/crud/show.html.twig' %}#}

{#{% block body %}#}
{#    {% hook 'show' with { _prefixes: prefixes, resource, metadata, configuration } %}#}
{#{% endblock %}#}
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            {{ dump() }}
        </div>
    </div>
</div>
